body{
  background-image: linear-gradient( to right, turquoise,purple,bisque);
}

h1{
  text-align: center;
  text-transform: uppercase;
  color:white;
}
p{
  text-align: center;
  color:white;
}

input{
  height: 30px;
  width: 25%;
  font-size: 20px;
  margin-left: 5%;
}

#login{
  margin-left: 40%;
}