body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Arial;
}
div{
    text-align: center;
    width: 800px;
    margin: 0 auto;
}
header{
    background-color: rgb(199, 196, 196);
    width: 100%;
    margin: 0%;
    padding: 15px 65px;
}
main{
    width: 800px;
}
#nomera{
    display: flex;
    justify-content: start;
    float: left;
}
ul{
    display: flex;
    justify-content: end;
    list-style-type: none;
}
#home{
    font-size: 15px;
    padding: 5px;
    cursor: pointer;
    background-color: brown;
    border-radius: 10px;
    font-size: 20px;
}
#nome{
    color: black;
    font-weight: bolder;
    font-size: larger;
    margin: 0%;
    font-size: 20px;
}
#ra{
    color: brown;
    font-weight: bolder;
    font-size: larger;
    margin: 0%;
    font-size: 20px;
}
#ra:hover{
    color: white;
}
li{
    margin: 20px;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}
li:hover{
    background-color: brown;
    transition-duration: 0.5s;
    border-radius: 10px;
    padding: 6px;

}
#banner{
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 0%;
}
figcaption{
    background-color: rgb(199, 196, 196);
    border-radius: 5px;
    margin-top: 0%;
}
#sec-artic{
    display: flex;
    margin-top: 10px;
}
.article-border{
    border: 0.5px rgb(199, 196, 196) solid;
}
article{
    flex: 1;
    padding: 15px 15px;
}
h3{
    color: brown;
}
p{
    text-align: justify;
}
button{
    background-color: rgb(114, 112, 112);
    border: none;
    padding: 15px;
    margin-top: 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
h1{
    background-color: brown;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

footer{
    background-color: rgb(114, 112, 112);
    color: white;
    padding: 25px;
}