img{
    width: 600px;
}
@media screen and (min-width:0px) and (max-width:500px) {
    body{
        background-color: brown;
    }
    img{
        width: 100%;
    }
}
@media screen and (min-width:501) and (max-width:800) {
    body{
        background-color: rgb(42, 71, 165);
    }
    img{
        width: 100%;
    }
}
@media screen and (min-width:801) and (max-width:1200px) {
    body{
        background-color: rgb(165, 42, 144);
    }
    img{
        width: 100%;
    }
}